<table class="cart-table">
  <thead>
    <tr class="cart-table__caption">
      <td></td>
      <td>Название</td>
      <td>Цена</td>
      <td>Количество</td>
      <td>Стоимость</td>
    </tr>
  </thead>
  <tbody>
    {{#each order}}
    <tr class="cart-table__row">
      <td>{{number}}</td>
      <td>{{title}}</td>
      <td>{{price}}</td>
      <td>
        <button id="CartItemDecrease{{id}}">-</button>
        <span class="cart-table__item-amount">{{count}}</span>
        <button id="CartItemIncrease{{id}}">+</button>
      </td>
      <td>{{sum}}</td>
      <td>
        <button id="CartItemRemove{{id}}">x</button>
      </td>
    </tr>
    {{/each}}
    <tr class="cart-table__row">
      <td colspan="3"></td>
      <td>Сумма:</td>
      <td colspan="2">{{total}}</td>
    </tr>
  </tbody>
</table>
