<table class="cart-table">
  <thead>
    <tr class="cart-table__caption">
      <th>Title</th>
      <th>Amount</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {{#each order}}
    <tr class="cart-table__row">
      <td>{{title}}</td>
      <td class="cart-table__col-counter">
        <button id="cartItemAction" type="button" data-cartItemId="{{id}}" data-cartActionType="itemDecrease" class="btn cart-table__btn">-</button>
        <span class="u-vertical-align--middle">{{count}}</span>
        <button id="cartItemAction" type="button" data-cartItemId="{{id}}" data-cartActionType="itemIncrease" class="btn cart-table__btn">+</button>
      </td>
      <td>${{price}}</td>
      <td>
        <button id="cartItemAction" type="button" data-cartItemId="{{id}}" data-cartActionType="itemRemove" class="btn cart-table__btn">x</button>
      </td>
    </tr>
    {{/each}}
    <tr class="cart-table__row">
      <td></td>
      <td>Total:</td>
      <td colspan="2">${{total}}</td>
    </tr>
  </tbody>
</table>
