- var navLinks = [{id:"description", title:"Description"}, {id:"download", title:"Download"}, {id:"example", title:"Example"}, {id:"usage", title:"Usage"}]

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Hamper
    //- css
    <link href='https://fonts.googleapis.com/css?family=Corben|Work+Sans:200' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', href='css/vendor.min.css')
    link(rel='stylesheet', href='css/bundle.min.css')
  body
    .section.section-header
      .section__content-wrapper.section-header__wrapper
        nav.top-menu
          button.btn.top-menu__btn.js-toggleNav MENU
          ul.top-menu__list.js-menuList
            for val in navLinks
              li: a.top-menu__link(href="##{val.id}") #{val.title}
        .header
          .header__logo
            include ./svg/shopping-basket.svg
          .header__text
            .header__text-sub Simple cart for your website
            .header__text-main Hamper
    #description.section
      .section__content-wrapper
        .section__title
          | Need a simple cart for your website?
          br
          | Meet Hamper.
        ul.features-list
          li.features-list__item Built with ES6 (Babel)
          li.features-list__item Connects as a module
          li.features-list__item Pure JS (No jQuery or another dependencies)
          li.features-list__item Free to use and update
    #download.section
      .section__content-wrapper
        .section__title Download
        .section__text
          | Work in progress, follow the link to see: 
          a.section__link(href="//github.com/EvanJ0hnson/Hamper/blob/master/src/js/modules/cart.js", target="_blank") cart.js
    #example.section
      .section__content-wrapper
        .section__title Example
        #cart-widjet.cart-widjet__wrapper
          .cart-widjet__body
            div
              include ./svg/shopping-bag.svg
            .cart-widjet__data
        .cart-items
          .cart-item
            .cart-item__title Disturbed: Asylum
            img.cart-item__photo(src="images/covers/disturbed.jpg" alt="Disturbed: Asylum")
            .cart-item__available In Stock
            .cart-item__price $29.49
            button.cart-item__add(type="button" id="cartItemAdd001") Add To Cart
          .cart-item
            .cart-item__title Mumford And Sons: Wilder Mind
            img.cart-item__photo(src="images/covers/mumford.jpg" alt="Mumford And Sons: Wilder Mind")
            .cart-item__available In Stock
            .cart-item__price $24.5
            button.cart-item__add(type="button" id="cartItemAdd002") Add To Cart
          .cart-item
            .cart-item__title Coldplay Catalogue Set
            img.cart-item__photo(src="images/covers/coldplay.jpg" alt="Coldplay Catalogue Set")
            .cart-item__available Not Available
            .cart-item__price $49.99
            button.cart-item__add(type="button" id="cartItemAdd003") Add To Cart
          .cart-item
            .cart-item__title David Bowie: ★Blackstar
            img.cart-item__photo(src="images/covers/bowie.jpg" alt="David Bowie: ★Blackstar")
            .cart-item__available In Stock
            .cart-item__price $29.49
            button.cart-item__add(type="button" id="cartItemAdd004") Add To Cart
          .cart-item
            .cart-item__title Kill Bill Vol. 1: Soundtrack
            img.cart-item__photo(src="images/covers/killbill.jpg" alt="Kill Bill Vol. 1: Soundtrack")
            .cart-item__available In Stock
            .cart-item__price $24.5
            button.cart-item__add(type="button" id="cartItemAdd005") Add To Cart
          .cart-item
            .cart-item__title Ed Sheeran: +
            img.cart-item__photo(src="images/covers/sheeran.jpg" alt="Ed Sheeran: +")
            .cart-item__available Not Available
            .cart-item__price $49.99
            button.cart-item__add(type="button" id="cartItemAdd006") Add To Cart
          .cart-item
            .cart-item__title Shinedown: Threat To Survival
            img.cart-item__photo(src="images/covers/shinedown.jpg" alt="Shinedown: Threat To Survival")
            .cart-item__available In Stock
            .cart-item__price $29.49
            button.cart-item__add(type="button" id="cartItemAdd007") Add To Cart
          .cart-item
            .cart-item__title Frank Sinatra: Come Dance With Me
            img.cart-item__photo(src="images/covers/sinatra.jpg" alt="Frank Sinatra: Come Dance With Me")
            .cart-item__available Not Available
            .cart-item__price $49.99
            button.cart-item__add(type="button" id="cartItemAdd008") Add To Cart
    #usage.section
      .section__content-wrapper
        .section__title Usage
        .grid__row
          .grid__column--1-2
            pre.highlight__wrapper
              code
                | /* app.js */
                | import {Cart} from 'cart';
                br
                br
                | const cartInstance = new Cart('cart-widjet');
                | cartInstance.init();
            pre.highlight__wrapper
              - var htmlExample = "<div id=\"cart-widjet\" class=\"cart-widjet__wrapper\">\n <div class=\"cart-widjet__body\">\n  <div><svg>…</svg></div>\n  <div class=\"cart-widjet__data\">\n  </div>\n </div>\n</div>"
              code
                | /* Cart widjet markup */
              code.xml
                | #{htmlExample}
          .grid__column--1-2
            pre.highlight__wrapper
              code.
                /* data.json */
                [{
                  "id": "001",
                  "category": "vinyl",
                  "categoryTitle": "Vinyl",
                  "photo": "images/…/cover_1.jpg",
                  "title": "Disturbed: Asylum",
                  "available": true,
                  "description": "Disturbed began…",
                  "price": "26.98"
                }, {
                  "id": "002",
                  "category": "vinyl",
                  "categoryTitle": "Vinyl",
                  "photo": "images/…/cover-2.jpg",
                  "title": "Mumford And Sons: Wilder Mind Lp",
                  "available": false,
                  "description": "This new album marks…",
                  "price": "29.65"
                }, …]
    footer.section.section-footer
      .section__content-wrapper
        .grid__row
          .grid__column--1-4
            .footer-item__wrapper
              div Hamper
                span.footer__copyright-sign ©
          .grid__column--1-4
            .footer-item__wrapper
              nav
                ul.footer-nav__list
                  for val in navLinks
                    li: a.footer-nav__link(href="##{val.id}") #{val.title}
          .grid__column--1-2
            .footer-item__wrapper
              .u-margin-bottom--0-25rem 
                | Ivan Gerasimov — 
                a.footer__link(href='http://www.gerasimov.pw', title='gerasimov.pw') gerasimov.pw
        .grid__row.u-justify-content--flex-end
          .footer-item__wrapper
            .u-line-height--1-4.u-font-size--075rem
              | Icons made by 
              a.footer__link(href='http://www.freepik.com', title='Freepik') Freepik
              |  from 
              a.footer__link(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
              |  is licensed by 
              a.footer__link(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY
    //- javascript
    script(src='js/bundle.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59739314-4', 'auto');
      ga('send', 'pageview');
